.item {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #ececec;
}
.item .image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.item .price,
.item .total {
  font-weight: 600;
}
.item .quantity {
  display: flex;
}
.item .quantity input{
  width: 25px;
  text-align: center;
}
